<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXY0IhN0JUNg908A6iU_4I8j5kfgy9IIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1064189142037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zkoolz.ezemp</string>
	<key>PROJECT_ID</key>
	<string>zkoolz</string>
	<key>STORAGE_BUCKET</key>
	<string>zkoolz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064189142037:ios:5963d7038dc851f6595a1c</string>
</dict>
</plist>